
.btn {
  cursor: pointer;
}

.btn--secondary {
  padding: var(--space-100) var(--space-500);
  font: bold 1.25rem/1 var(--font-family-body);
  border: 1px solid var(--color-interactive);
  background: transparent;
  text-transform: uppercase;
  color: var(--color-interactive);
  box-shadow: 4px 4px 0 var(--color-interactive);
}


@media print {

  .btn--secondary {
    font-weight: normal;
    padding: 0;
    border: 0;
    box-shadow: none;
    color: var(--color-text-print);
  }
}
