
.btn {
  cursor: pointer;
}

.btn--secondary {
  padding: var(--space-100) var(--space-500);
  background: var(--color-primary);
  color: var(--color-interactive);
  font: var(--font-size-body) var(--font-family-body);
  border-radius: 20px;
  border: 0;
  box-shadow: var(--shadow-dark);
}
