
body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font: var(--font-size-body) var(--font-family-body);
  line-height: 1.2;
}

.header-secondary {
  margin-bottom: var(--space-900);
  font: var(--font-size-header-sm) var(--font-family-header);
  text-transform: uppercase;
  border-bottom: 1px solid;
}