
.recipe {

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--space-300);
    grid-template-areas:
    "intro intro intro"
    "ingre instr instr"
    "ingre nutri nutri"
  }

  @each $category in
  (appetizer),
  (bakery),
  (breakfast),
  (dessert),
  (entree),
  (side) {
    &[data-category='category-#{$category}'] {
      --color-secondary: var(--color-secondary-#{$category});
    }
  }

  .intro-banner {
    grid-area: intro;

    @include breakpoint(md) {
      display: flex;
      align-items: center;
    }
  }

  .intro-banner__links {
    margin-bottom: var(--space-300);

    @include breakpoint(md) {
      display: flex;
      justify-content: space-between;
    }

    span {
      font-family: var(--font-family-subheader);
      color: var(--color-secondary);
    }
  }

  .intro-banner__title {
    margin: var(--space-900) 0;
    padding: var(--space-700) 0 var(--space-500);
    font: var(--font-size-header-lg) var(--font-family-header);
    text-transform: uppercase;
    text-shadow: var(--shadow-dark);
    border-top: 1px solid;
    border-bottom: 1px solid;
    line-height: 1;
  }

  .intro-banner__quick-facts {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: var(--space-500);
    grid-template-areas:
    "serv"
    "time"
    "diff";
    text-align: center;

    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
      "serv time diff";
    }
  }

  .intro-banner__quick-fact {
    padding: var(--space-300);
    border: 1px solid;
    font: var(--font-size-header-sm) var(--font-family-header);
    text-shadow: var(--shadow-dark);

    span {
      width: 75px;
      height: 73px;
      display: block;
      margin: -45px auto 0;
      padding: 0 var(--space-300);
    }

    em {
      display: block;
      font: var(--font-size-subheader-sm) var(--font-family-subheader);
      text-shadow: none;
      color: var(--color-secondary);
    }
  }

  .intro-banner__servings {
    grid-area: serv;
  }

  .intro-banner__time {
    grid-area: time;
  }

  .intro-banner__diff {
    grid-area: diff;
  }

  .intro-banner__servings-icon {
    background: url('../assets/icons/icon-servings.svg') center center no-repeat var(--color-bg);
  }

  .intro-banner__time-icon {
    background: url('../assets/icons/icon-time.svg') center center no-repeat var(--color-bg);
  }

  .intro-banner__difficulty-icon {
    background: url('../assets/icons/icon-difficulty.svg') center center no-repeat var(--color-bg);
  }

  .ingredient-panel,
  .instructions-panel,
  .nutrition-panel {
    padding: var(--space-900);
  }

  .ingredient-panel,
  .instructions-panel {

    h4 {
      margin-bottom: var(--space-300);
      font: var(--font-size-subheader-lg) var(--font-family-subheader);
      color: var(--color-secondary);

      &:not(:first-child) {
        margin-top: var(--space-700);
      }
    }

    ul {

      li:not(:last-child) {
        margin-bottom: var(--space-300);
      }

      strong {
        width: 55px;
        display: inline-block;
        margin-right: var(--space-500);
        text-align: right;
        font-weight: bold;
      }
    }
  }

  .ingredient-panel {
    grid-area: ingre;
    background: var(--color-secondary);
    color: #fff;
  }

  .instructions-panel {
    grid-area: instr;

    ol {
      counter-reset: section;

      li {
        display: flex;
  
        &:not(:last-child) {
          margin-bottom: var(--space-900);
        }
  
        &::before {
          width: 60px;
          flex-shrink: 0;
          font: var(--font-size-subheader-lg) var(--font-family-header);
          counter-increment: section;
          shadow: var(--shadow-dark);
          content: counter(section) '.';
        }
      }
    }
  }
  
  // nutrition information
  .nutrition-panel {
    grid-area: nutri;
    padding: var(--space-900);
    background: var(--color-bg-shade);
  
    .nutrition-panel__content {
      position: relative;
    }
  
    h3 {
  
      @include breakpoint(md) {
        width: 50%;
      }
    }
  
    ul {
      display: grid;
      grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
      grid-gap: 0 var(--space-500);
    }
  
    .nutrition-panel__callout {
      width: 43%;
      min-height: 84px;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid;
      padding: var(--space-700);
      text-align: center;
      font: var(--font-size-header-sm) var(--font-family-header);
      shadow: var(--shadow);
  
      em {
        margin-left: var(--space-300);
        font: var(--font-size-subheader-lg) var(--font-family-subheader);
      }
    }
  
    .nutrition-panel__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--space-500) 0;
      font: var(--font-size-subheader-sm) var(--font-family-header);
      border-bottom: 1px solid;
      shadow: var(--shadow);
  
      em {
        font: var(--font-size-body) var(--font-family-subheader);
        color: var(--color-secondary);
        shadow: none;
      }
    }
  }
}
