
.recipe {

  @each $category in
  (appetizer),
  (bakery),
  (breakfast),
  (dessert),
  (entree),
  (side) {
    &[data-category='category-#{$category}'] {
      --color-secondary: var(--color-secondary-#{$category});
    }
  }

  .ingredient-panel,
  .instructions-panel {

    h4 {
      font: var(--font-size-subheader-lg) var(--font-family-subheader);
      color: var(--color-secondary);
    }

    p {
      margin-bottom: var(--space-500);
    }

    ul {

      strong {
        width: 55px;
        display: inline-block;
        margin-right: var(--space-500);
        text-align: right;
        font-weight: bold;
      }
    }
  }

  .instructions-panel {
    max-width: 1000px;
    margin: 0 auto;

    ol {
      counter-reset: section;

      li {
        display: flex;
  
        &:not(:last-child) {
          margin-bottom: var(--space-500);
        }
  
        &::before {
          width: 60px;
          flex-shrink: 0;
          font: var(--font-size-subheader-lg) var(--font-family-header);
          counter-increment: section;
          text-shadow: var(--text-shadow-dark);
          content: counter(section) '.';
        }
      }
    }
  }
  
  // nutrition information
  .nutrition-panel {
    padding: var(--space-900);
    background: var(--color-bg-shade);
  
    .nutrition-panel__content {
      max-width: 900px;
      position: relative;
      margin: 0 auto;
    }
  
    h3 {
  
      @include breakpoint(md) {
        width: 50%;
      }
    }
  
    ul {
      display: grid;
      grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
      grid-gap: 0 var(--space-500);
    }
  
    .nutrition-panel__callout {
      width: 46%;
      min-height: 85px;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid;
      padding: var(--space-700);
      text-align: center;
      font: var(--font-size-header-sm) var(--font-family-header);
      text-shadow: var(--text-shadow);
  
      em {
        margin-left: var(--space-300);
        font: var(--font-size-subheader-lg) var(--font-family-subheader);
      }
    }
  
    .nutrition-panel__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--space-500) 0;
      font: var(--font-size-subheader-sm) var(--font-family-header);
      border-bottom: 1px solid;
      text-shadow: var(--text-shadow);
  
      em {
        font: var(--font-size-body) var(--font-family-subheader);
        color: var(--color-secondary);
        text-shadow: none;
      }
    }
  }
}
